.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  color: ghostwhite;

  &-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    z-index: 2;
  }

  &-block {
    position: relative;
    margin: 7% auto;
    width: fit-content;
    max-width: 535px;
    background-color: red;
    text-align: center;
    border-radius: 25px;
    z-index: 3;
  }

  &-header {
    background-color: rgba(0, 0, 0, 0.1);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 20px;
    position: relative;
    display: flex;
    justify-content: space-between;

    &-text {
      padding-left: 10px;
      font-size: 22px;
      text-align: left;
    }
  }

  &-content {
    padding: 30px;
  }

  &-actions {
    display: flex;
    justify-content: space-evenly;
    padding: 5px 150px;

    & .btn {
      margin-left: 10px;
    }
  }
}

.close {
  //position: absolute;
  //right: 10px;
  //top: 10px;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 25px;
  color: ghostwhite;
}