@use "../colors";
@use "../mixins";
@use "../variables";

.footer {
  background-color: colors.$backgroundColor;

  &__wrapper {
    padding: 38px 0 47px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  @include mixins.section-title();

  &__title {
    color: #FEFEFE;

    &::after {
      content: " -";
    }
  }

  &__info {
    margin-top: 8px;
    padding: 0 10px;
    @include mixins.font(normal, 12px, #B9B9B9);
    line-height: 20px;
    text-align: center;

    & span:last-child {
      display: none;
    }
  }

  &__icons {
    margin-top: 26px;
    display: flex;
  }

  &__icon {
    border-width: 2px;
    border-style: solid;
    box-sizing: border-box;
    border-radius: 30px;
    font-size: 10px;
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;

    &:first-child {
      margin-left: 0;
    }

    @mixin colored-icon($color) {
      border-color: $color;
      color: $color;
    }

    &-orange {
      @include colored-icon(#F8902E);
    }

    &-blue {
      @include colored-icon(#39599F);
    }

    &-cyan {
      @include colored-icon(#45B0E3);
    }

    &-pink {
      @include colored-icon(#D97AB0);
    }

    &-red {
      @include colored-icon(#CC212C);
    }
  }

  &__contacts {
    margin-top: 25px;
    text-align: center;
  }

  &__contact {
    display: block;
    @include mixins.font(normal, 14px, #B9B9B9);
    white-space: pre;
    line-height: 24px;
  }

  & a {
    color: inherit;
    text-decoration: none;
  }
}

@media screen and (min-width: variables.$tablet-breakpoint) {
  .footer {
    &__wrapper {
      padding: 57px 0 56px;
    }

    &__info {
      margin-top: 22px;
      padding: 0 35px;


      & span:last-child {
        display: inline;
      }
    }

    &__icons {
      margin-top: 37px;
    }

    &__contacts {
      margin-top: 34px;
    }

    &__contact {
      display: inline;
    }

    &__info, &__contact {
      font-size: 16px;
    }
  }
}

@media screen and (min-width: variables.$desktop-breakpoint) {
  .footer {
    &__wrapper {
      padding: 66px 0 70px;
    }

    &__info {
      padding: 0 150px;
    }
  }
}