.container {
    width: 1280px;
    margin: auto;
    font-family: 'Roboto', serif;
}

.header-logo {
    margin-top: 61px;
    margin-bottom: 0;
}

.header-logo-link {
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 94px;
    text-decoration: none;
    color: #4bcaff;
}

.header-logo-link span {
    color: #000000;
}

.header-menu {
    margin-top: 38px;
    width: 100%;
    font-size: 0;
    background-color: #35444f;
}

.header-menu-list {
    margin: 0;
    padding: 0;
    text-align: center;
}

.header-menu-list-item {
    display: inline-block;
    border-left: 1px solid white;
    width: auto;
    background-color: #35444f;
}

.header-menu-link {
    display: inline-block;
    padding: 26px 32px 19px;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
}

.header-menu-link:hover {
    background-color: #222f3a;
    cursor: pointer;
}

.main-section {
    margin-top: 50px;
    font-size: 0
}

.side-menu {
    display: inline-block;
    width: 344px;
    vertical-align: top;
    border: 1px solid #000000;
    box-sizing: border-box;
}

.side-menu-list {
    margin: 0;
    padding: 0;
}

.side-menu-list-item {
    display: inline-block;
    width: 100%;
    padding: 26px 0 30px 44px;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 27px;

    box-sizing: border-box;
}

.side-menu-list-item:hover {
    background-color: #dbdbdb;
    cursor: pointer;
    font-weight: bold;
    padding-left: 88px;
}

.side-menu-link {
    text-decoration: none;
    color: #495863;
}

.main-content {
    margin-left: 51px;
    display: inline-block;
    box-sizing: border-box;
    width: 885px;
}

.banner-container {
    width: 885px;
    height: 529px;
    border: 1px solid #000000;
    overflow: hidden;
    text-align: center;
    box-sizing: border-box;
}

.banner-container:hover .banner {
    transform: scale(1.5);
}

.banner {
    margin: 75px 268px 73px 297px;
    transition: transform .5s ease;
}

.text {
    margin: 34px 0 0;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;

    color: #2C2C2C;
}

.clear {
    margin-top: 3px;
    display: inline-block;
    visibility: hidden;
}

.footer {
    margin: 54px 0 30px 0;
    background-color: #b4b7b9;
}

.footer-menu {
    display: inline-block;
    font-size: 0;
}

.footer-menu-list {
    margin: 0;
    padding: 0;
    height: 69px;
    width: auto;
}

.footer-menu-list-item {
    display: inline-block;
    width: auto;
    margin-left: 40px;
    padding-top: 22px;
    background-color: #b4b7b9;
}

.footer-menu-list-item:hover .footer-menu-link {
    color: #3181a6;
    padding-bottom: 8px;
    border-bottom: 1px solid #3181a6;
    cursor: pointer;
}

.footer-menu-link {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
}

.copyright {
    margin-left: 104px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    vertical-align: 3px;
    color: #010101;
}