.checkout-form {
  width: 500px;
  margin: 0 auto;

  & form {
    display: flex;
    flex-direction: column;
  }

  & input, & span {
    margin-bottom: 5px;
  }

  & span {
    font-size: 10px;
    color: indianred;
    text-align: left;
  }
}