@use "fonts";
@use "colors";
@use "variables";

@mixin font($weight, $font-size, $color: colors.$fontColor) {
  font-family: fonts.$mainFont;
  font-style: normal;
  font-weight: $weight;
  font-size: $font-size;
  color: $color;
}

@mixin section-title {
  &__title {
    @include font(bold, 14px);
    line-height: 22px;
    text-transform: uppercase;

    &::before {
      content: "- ";
    }
  }

  @media screen and (min-width: variables.$tablet-breakpoint) {
    &__title {
      font-size: 16px;
    }
  }
}

@mixin block-size($image-size) {
  &__block {
    max-height: $image-size;
  }

  &__image {
    width: $image-size;
  }
}