@use "variables";
@use "node_modules/reset-css/sass/reset";
@use "navbar/navbar";
@use "header/header";
@use "posts/posts";
@use "posts/post";
@use "posts/insta";
@use "footer/footer";

.wrapper {

  &__block {
    margin: 0 auto;
    width: variables.$mobile-breakpoint;
  }
}

@media screen and (min-width: variables.$tablet-breakpoint) {
  .wrapper {
    &__block {
      width: variables.$tablet-breakpoint;
    }
  }
}

@media screen and (min-width: variables.$desktop-breakpoint) {
  .wrapper {
    &__block {
      width: variables.$desktop-breakpoint;
    }
  }
}