@use "../fonts";
@use "../variables";
@use "../mixins";
@use "../colors";
@use "navbar";

.header {
  background: #27262A;

  &__wrapper {
    @include mixins.breakpoints;
    height: 103px;
    display: grid;
    grid-template-areas: "logo btn nav";
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
  }

  &__logo-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    grid-area: logo;
    justify-self: flex-start;
    text-decoration: none;
  }

  &__logo {
    background-image: url("../img/logo/Logo.png");
    display: block;
    width: 43px;
    height: 41px;

    &:hover {
      background-image: url("../img/logo/Logo-hover.png");
    }
  }

  &__title {
    display: none;
    @include mixins.secondaryFont(bold, 24px, 16px, colors.$mainColor);
    text-transform: uppercase;
    padding-left: 17px;

    &:hover {
      color: colors.$secondaryColor;
    }
  }

  &__buy {
    width: 119px;
    height: 37px;
    grid-area: btn;
    justify-self: center;
  }

  &__navbar {
    grid-area: nav;
    //justify-self: flex-end;
  }
}

@media screen and (min-width: variables.$tablet-breakpoint) {
  .header {
    &__wrapper {
      height: 118px;
      grid-template-areas: "logo btn" "nav nav";
      grid-template-columns: repeat(2, 1fr);
    }

    &__buy {
      justify-self: end;
    }

    &__title {
      display: initial;
    }
  }
}

@media screen and (min-width: variables.$desktop-breakpoint) {
  .header {
    background-color: black;
    &__wrapper {
      height: 118px;
      grid-template-areas: "logo nav btn";
      grid-template-columns: auto 1fr auto;
    }

    &__buy {
      justify-self: flex-end;
      margin-left: 47px;
    }

    &__title {
      display: initial;
    }

    &__navbar {
      justify-self: flex-end;
    }
  }
}