@use "../colors";
@use "../mixins";
@use "../variables";

$navbar-backgroundColor: #333333;

.navbar {
  position: relative;
  display: flex;
  justify-content: flex-end;

  &__action {
    padding: 0;
    width: 26px;
    color: white;
    font-size: 33px;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: transparent;
    overflow: hidden;

    .fa-bars {
      display: initial;
    }

    .fa-times {
      display: none;
    }

    &-open {
      .fa-bars {
        display: none;
      }

      .fa-times {
        display: initial;
      }
    }
  }

  &__list {
    display: none;
    position: absolute;
    background: $navbar-backgroundColor;

    &-open {
      display: initial;
      top: calc(100% + 32px);
      z-index: 10;
    }
  }

  &__item {
    & a {
      @include mixins.mainFont(normal, 26px, 53px, colors.$secondaryColor);
      text-decoration: none;
      padding-left: 49px;
    }

    width: 292px;
    height: 88px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-bottom: 3px solid #3B3B3B;

    &:hover {
      a {
        color: colors.$mainColor;
        border-left: 8px solid colors.$mainColor;
        padding-left: 41px;
      }
    }

    &:last-child {
      margin-bottom: 14px;
    }
  }
}

@media screen and (min-width: variables.$tablet-breakpoint) {
  .navbar {
    &__action {
      display: none;
    }

    &__list {
      display: flex;
      justify-content: center;
      position: static;
      background: transparent;
      width: 100%;
    }

    &__item {
      & a {
        @include mixins.mainFont(bold, 16px, 18px, colors.$mainColor);
        padding-left: 0;
      }

      width: initial;
      height: initial;
      box-sizing: border-box;
      cursor: pointer;
      border-bottom: none;

      margin-right: 47px;

      &:last-child {
        margin: 0;
      }

      &:hover {
        a {
          color: colors.$secondaryColor;
          border-left: none;
          padding-left: initial;
        }
      }
    }
  }

}

@media screen and (min-width: variables.$desktop-breakpoint) {
  .navbar {

  }
}