@use "../mixins";
@use "../colors";
@use "../variables";

.main {
  background-color: black;

  &__wrapper {
    @include mixins.breakpoints;

    background-image: url("../img/header.png");
    background-position-x: center;
    background-position-y: -140px;
    height: 615px;
    padding: 0 25px;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    @include mixins.mainFont(bold, 48px, 48px, colors.$secondaryColor);
    margin-top: 50px;
  }

  &__description {
    @include mixins.mainFont(normal, 18px, 24px, colors.$mainColor);
    margin-top: 19px;
    text-align: center;
  }

  &__version {
    @include mixins.mainFont(normal, 14px, 14px, #848E97);
    text-transform: uppercase;
    margin-top: 14px;
  }

  &__getit {
    position: absolute;
    bottom: -48px;
  }

  &__download {
    width: 290px;
    height: 45px;
    @include mixins.mainFont(bold, 18px, 20px, colors.$secondaryColor);
  }

  &__trial {
    @include mixins.mainFont(normal, 14px, 14px, #848E97);
    text-align: center;
    margin-top: 13px;
  }
}

@media screen and (min-width: variables.$tablet-breakpoint) {
  .main {
    &__wrapper {
      height: 630px;
    }

    &__title {
      font-size: 72px;
      line-height: 72px;
    }

    &__description {
      @include mixins.secondaryFont(normal, 24px, 24px, colors.$mainColor);
    }
  }
}

@media screen and (min-width: variables.$desktop-breakpoint) {
  .main {

    &__title {
      font-size: 82px;
      line-height: 82px;
    }

    &__description {
      font-size: 30px;
      line-height: 30px;
    }

    &__version {
      font-size: 16px;
      line-height: 16px;
    }
  }
}