@use "../colors";
@use "../mixins";

.navbar {
  position: relative;
  display: flex;
  justify-content: flex-end;

  &__action {
    background-color: colors.$backgroundColor;
    width: 44px;
    height: 37px;
    color: white;
    font-size: 17px;
    cursor: pointer;
    outline: none;
    border: none;

    .fa-bars {
      display: initial;
    }

    .fa-times {
      display: none;
    }

    &-open {
      .fa-bars {
        display: none;
      }

      .fa-times {
        display: initial;
      }
    }
  }

  &__list {
    display: none;
    position: absolute;

    &-open {
      display: initial;
      top: 100%;
      right: 0;
    }
  }

  &__item {
    & a {
      @include mixins.font(normal, 11px);
      letter-spacing: 1.1px;
      text-transform: uppercase;
      text-decoration: none;
      color: inherit;
    }

    background: #F5F5F5;
    width: 182px;
    height: 30px;
    box-sizing: border-box;
    cursor: pointer;
    padding-left: 14px;
    display: flex;
    align-items: center;

    &:hover {
      background: #E5E5E5;
    }

    &-active {
      color: #57A4A4;
    }
  }
}

@media screen and (min-width: 768px) {
  .navbar {
    display: initial;

    &__action {
      display: none;
    }

    &__list {
      display: flex;
      justify-content: center;
      position: static;
      list-style: none;
    }

    &__item {
      padding: 0 17px;
      background-color: transparent;
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: initial;
    }
  }
}

@media screen and (min-width: 1200px) {
  .navbar__item {
    padding: 0 34px;
  }
}