@use "../mixins";
@use "../variables";
@use "../colors";

.reviews {
  //background-image: url("../img/testmonials-bg.png");
  background-color: #3181a6;

  &__wrapper {
    @include mixins.breakpoints;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 24px 22px;
  }

  &__title {
    padding-top: 86px;
    @include mixins.mainFont(bold, 36px, 48px, colors.$secondaryColor);
    font-style: normal;
    text-align: center;
  }

  &__container {
    margin-top: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__review {
      margin: 45px auto 0;

    }
  }

  &__disclaimer {
    @include mixins.secondaryFont(normal, 14px, 21px, #A291A5);
    text-align: center;
    margin-top: 37px;
  }
}

@media screen and (min-width: variables.$tablet-breakpoint) {
  .reviews {
    &__container {
      margin-top: 40px;
    }

    &__title {
      font-size: 42px;
      line-height: 44px;
    }

    &__disclaimer {
      margin-top: 68px;
    }
  }

}

@media screen and (min-width: variables.$desktop-breakpoint) {
  .reviews {

    &__container {
      margin-top: 37px;
    }

    &__title {
      font-size: 48px;
      line-height: 50px;
    }

    &__disclaimer {
      margin-top: 118px;
    }
  }
}