@use "../mixins";
@use "../variables";
@use "../colors";

.review {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 270px;
  height: 165px;

  &__title {
    flex-grow: 1;
    display: flex;
    align-items: center;
  }

  &__text {
    @include mixins.secondaryFont(bold, 16px, 24px, colors.$secondaryColor);
    font-style: italic;
    text-align: center;
  }
}

@media screen and (min-width: variables.$tablet-breakpoint) {
  .review {
    width: 315px;
    height: 140px;
  }
}