html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #000;
}

.star-wars {
    display: flex;
    justify-content: center;
    height: 800px;
    perspective: 400px;
    color: #feda4a;
    font-family: monospace;
    font-size: 500%;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    text-align: justify;
}

.crawl {
    position: relative;
    top: 1200px;
    transform-origin: 50% 100%;
    animation: crawl 30s 3s infinite linear;
}

@keyframes crawl {
    0% {
        top: 1200px;
        transform: rotateX(15deg)  translateZ(0);
    }
    100% {
        top: -1550px;
        transform: rotateX(10deg)  translateZ(-500px);
    }
}

.title {
    text-align: center;
    text-transform: uppercase;
}

.fade {
    position: absolute;
    width: 100%;
    height: 500px;
    top: -25px;
    background-image: linear-gradient(0deg, transparent, black 75%);
    z-index: 10;
}