@use "../variables";

.header {
  padding-top: 23px;

  &__banner {
    width: 100%;
    margin-top: 23px;
  }
}

@media screen and (min-width: variables.$tablet-breakpoint) {
  .header {
    padding-top: 41px;

    &__banner {
      margin-top: 43px;
    }
  }
}

@media screen and (min-width: variables.$desktop-breakpoint) {
  .header {
    padding-top: 45px;

    &__banner {
      margin-top: 51px;
    }
  }
}