@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

html {
    /*background: url("../images/background.png") no-repeat center center fixed;*/
    background-image: url("../images/background.png");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 650px;
    min-height: 641px;
}

.wrapper {
    font-family: 'Ubuntu', monospace;
    font-style: normal;
    color: #FFFFFF;
    text-decoration: none;
}

.wrapper a {
    font-family: 'Ubuntu', monospace;
    font-style: normal;
    color: #FFFFFF;
    text-decoration: none;
}

.top-header {
    padding-top: 18px;
    height: 58px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.4);
}

.logo {
    margin-left: 79px;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;
}

.top-header-logo {
    float: left;
}

.top-header-right {
    float: right;
}

.top-header-icons, .top-header-sign-block {
    display: inline-block;
    vertical-align: middle;
}

.icon {
    position: relative;
    margin-right: 25px;
    display: inline-block;
    background-image: url('../images/css_sprites.png');
    vertical-align: text-bottom;
}

.calendar {
    /*right: 405px;*/
    width: 21px;
    height: 24px;
    background-position: -1px -1px;
}

.calendar::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url('../images/css_sprites.png');
    background-position: -24px -1px;
    opacity: 0;
    transition: opacity 1s;
}

.calendar:hover::after {
    opacity: 1;
}

.mail {
    width: 23px;
    height: 23px;
    background-position: -47px -1px;
}

.mail::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url('../images/css_sprites.png');
    background-position: -122px -1px;
    opacity: 0;
    transition: opacity 1s;
}

.mail:hover::after {
    opacity: 1;
}


.compass {
    width: 23px;
    height: 24px;
    background-position: -72px -1px;
}

.compass::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url('../images/css_sprites.png');
    background-position: -97px -1px;
    opacity: 0;
    transition: opacity 1s;
}

.compass:hover::after {
    opacity: 1;
}

.delimiter {
    margin-right: 27px;
    display: inline-block;
    vertical-align: middle;
    height: 19px;
    border-left: 1px solid rgba(255, 255, 255, 0.9);
}

.top-header-sign-block {
    margin-right: 79px;
}

.welcome {
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
}

.logo:hover, .login-link:hover, .signup-link:hover {
    color: #3CB878;
}

.container {
    position: absolute;
    top: 58px;
    bottom: 0;
    width: 100%;
}

.main {
    margin: auto;
    padding: 0 60px 0;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 444px;
    height: 584px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.52);
}

.square-icon {
    position: absolute;
    left: 0;
    top: 29px;
    height: 18px;
    width: 18px;
    background: #3CB878;
}

.main-header {
    margin-top: 29px;
    padding-bottom: 1px;
    overflow: hidden;
}

.main-header span {
    float: left;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}

.main-header a {
    float: right;
    font-size: 14px;
    line-height: 20px;
    color: #3CB878;
    vertical-align: bottom;
    border-bottom: 1px solid transparent;
}

.social-buttons {
    margin-top: 11px;
}

.social-buttons > a {
    display: inline-block;
    padding-top: 10px;
    width: 160px;
    height: 48px;
    border-radius: 4px;
    text-decoration: none;
    vertical-align: top;
    box-sizing: border-box;
}

.facebook {
    background-color: #305DB8;
}

.facebook:hover {
    background-color: #294F9D;
}

.google {
    background-color: #DF4A32;
}

.google:hover {
    background-color: #C6422C;
}

.fab {
    display: inline-block;
    vertical-align: middle;
    color: #FFFFFF;
    font-size: 24px;
}

.facebook .fab {
    margin-left: 17px;
}

.facebook .social-delimiter {
    margin-left: 14px;
    display: inline-block;
    vertical-align: middle;
    height: 28px;
    border-left: 1px solid rgba(10, 22, 47, 0.1);
}

.facebook .social {
    margin-left: 14px;
    display: inline-block;
    vertical-align: middle;
}

.google .fab {
    margin-left: 12px;
    font-size: 24px;
}

.google .social-delimiter {
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
    height: 28px;
    border-left: 1px solid rgba(43, 13, 9, 0.1);

}

.google .social {
    margin-left: 24px;
    display: inline-block;
    vertical-align: middle;
}

.separator {
    margin-top: 29px;
    text-align: center;
    overflow: hidden;
}

.separator span {
    font-size: 14px;
    line-height: 14px;
    color: #848484;
    float: left;
    margin: 0 5px 0;
}

.separator hr {
    float: left;
    width: 150px;
    border: 0;
    border-top: 1px solid #F2F2F2;
}

.form {
    font-size: 14px;
    line-height: 14px;
    color: #434343;
}

.form-input, .form-submit-cta {
    width: 100%;
    height: 46px;
    border-radius: 4px;
    outline: none;
}

.form-input {
    margin-top: 13px;
    padding-left: 20px;
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
}

.form-input:focus {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
}

.form-input:first-child {
    margin-top: 11px;
}

.form-terms-label {
    margin-top: 12px;
    display: block;
    position: relative;
    line-height: 24px;
    overflow: hidden;
    cursor: pointer;
}

.form-terms-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox {
    float: left;
    height: 20px;
    width: 20px;
    background-color: #FFFFFF;
    border: 1px solid #F2F2F2;
    padding: 1px;
    margin-right: 8px;
}

.checkbox::after {
    content: "";
    position: absolute;
    display: none;
    left: 7px;
    top: -1px;
    width: 9px;
    height: 17px;
    border: solid #3CB878;
    border-width: 0 2px 2px 0;
    transform: rotate(54deg) skew(22deg, 0deg);
}

.form-terms-checkbox:checked ~ .checkbox::after {
    display: block;
}

.form-terms-label a {
    color: #3CB878;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}

a.hoverable:hover {
    border-bottom-color: #3CB878;
}

.form-submit-cta {
    padding: 0;
    margin-top: 20px;
    background: rgba(60, 184, 120, 0.8);
    border: 0;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 16px;
    cursor: pointer;
}

.form-submit-cta:hover {
    background: #3CB878;
}

.hoverable {
    transition: color 1s, background-color 1s, background-position 1s, border-bottom-color 1s;
}