.main-container {
    width: 1280px;
    margin: auto;
}

.header {
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
}

.header-link {
    margin-left: 72px;
    text-align: center;
    font-family: Montserrat, serif;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    color: #FF0000;
}

.header-link:last-child {
    margin-left: 50px;
}

.header-link:hover {
    text-decoration: underline;
}

.banner img {
    display: block;
}

.content {
    margin: 0 68px 0;
    text-align: center;
}

.content-title {
    margin-top: 49px;
    margin-bottom: 0;
    padding-bottom: 10px;
    text-align: center;
    font-family: Montserrat, serif;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
}

.content-paragraph {
    margin-top: 28px;
    margin-bottom: 0;
    text-align: center;
    font-family: Montserrat, serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    color: #373737;
}

.content-button {
    margin-top: 66px;
    padding: 18px 44px;
    font-family: Montserrat, serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    background: #FF0000;
}

.content-button:hover {
    cursor: pointer;
}

.footer {
    margin-top: 82px;
    margin-bottom: 29px;
    margin-right: 105px;
    text-align: right;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
}
