@use "colors";
@use "fonts";

.btn {
  outline: none;
  border: none;
  border-radius: 40px;
  font-family: fonts.$mainFont;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 15px;
  text-align: center;

  &_purple {
    color: colors.$secondaryColor;
    background: colors.$mainColor;
    border: 2px solid colors.$mainColor;

    &:hover {
      background: colors.$secondaryColor;
      color: colors.$mainColor;
    }
  }
}