@use "fonts";
@use "colors";
@use "variables";

@mixin mainFont($weight, $font-size, $line-height, $color) {
  font-family: fonts.$mainFont;
  @include font($weight, $font-size, $line-height, $color)
}

@mixin secondaryFont($weight, $font-size, $line-height, $color) {
  font-family: fonts.$secondaryFont;
  @include font($weight, $font-size, $line-height, $color)
}

@mixin font($weight, $font-size, $line-height, $color) {
  font-style: normal;
  font-weight: $weight;
  line-height: $line-height;
  font-size: $font-size;
  color: $color;
}

@mixin breakpoints {
  box-sizing: border-box;
  min-width: variables.$mobile-min;
  max-width: variables.$desktop-max;
  margin: 0 auto;
  padding: 0 15px;
}