@use "node_modules/reset-css/sass/reset";

@use "buttons";
@use "header/header";
@use "main/main";
@use "reviews/reviews";
@use "reviews/review";

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9;

  &_hidden {
    display: none;
  }
}