
body {
    font-family: 'Montserrat', sans-serif;
}

.centered-container {
    width: 1160px;
    margin: 0 auto;
}

.header-section {
    background-image: url("../images/backgrounds/section-1(header).jpg");
    background-repeat: repeat;
    background-attachment: fixed;
}

.header-section header {
    height: 120px;
    background: rgba(94, 93, 88, 0.6);
}

.header-section .header {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 48px;
    text-decoration: none;
    color: #FFFFFF;
}

.logo-container a {
    text-decoration: none;
}

.highlighted {
    color: #18CFAB;
}

.bold {
    font-weight: bold;
}

.logo {
    margin-right: 5px;
    background-image: url("../images/icons/header-logo.png");
    width: 58px;
    height: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 31px;
    color: #FFFFFF;
}

.header-nav-menu {
    display: flex;
    align-items: center;
}

.header-nav-menu ul {
    display: flex;
}

.header-nav-menu li {
    margin-left: 21px;
}

.header-nav-menu a {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}

.header-nav-menu a:hover {
    color: #18CFAB;
    padding-bottom: 48px;
    border-bottom: 2px solid #18CFAB;
}

.header-nav-menu i {
    margin-left: 21px;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
}

.header-nav-menu i:hover {
    color: #18CFAB;
}

.header-main {
    margin-top: 264px;
}

.columnd {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-main h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.header-main h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 78px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.header-main h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    text-transform: capitalize;
    color: #D4D4D4;
}

.header-main h2, h3 {
    margin-top: 22px;
}

.header-main-btns {
    margin: 129px 0 243px;
    display: flex;
}

.btn {
    width: 168px;
    height: 63px;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 32px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;

    color: #FFFFFF;
    border-radius: 7px;
    border: none;
    border-top: 4px solid #FFFFFF;
    outline: none;
    background-color: #18CFAB;
    cursor: pointer;
}

.header-main-btns button:last-child {
    margin-left: 37px;
    background-color: #00CBF6;
}

.features {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 367px;
}

.feature {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #18CFAB;
    background: #1C2A33;
}

.feature:nth-child(even) {
    color: #FFFFFF;
    background: #18CFAB;
}

.feature svg {
    margin-top: 85px;
    margin-bottom: 47px;
}

.feature:nth-child(even) svg{
    margin-top: 95px;
    margin-bottom: 58px;
}

.our-services {
    margin-bottom: 91px;
}

h4 {
    padding-top: 84px;
    position: relative;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    text-transform: capitalize;
    color: #4E4E4E;
}

h4::before {
    content: "";
    display: block;
    position: absolute;
    top: calc(100% + 24px);
    left: 46%;
    width: 78px;
    height: 1px;
    border-top: 2px solid #18CFAB;
}

h4::after {
    content: "";
    top: calc(100% + 28px);
    left: 47%;
    display: block;
    position: absolute;
    border-top: 2px solid #18CFAB;
    width: 78px;
    height: 1px;
}

.services-tabs {
    margin-top: 110px;
}

.services-tabs ul {
    display: flex;
    justify-content: center;
}

.services-tabs li {
    width: 194px;
    height: 72px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    background: #F8FCFE;
    border: 1px solid #EDEFEF;
    box-sizing: content-box;

    font-style: normal;
    font-weight: normal;
    font-size: 15.9859px;
    line-height: 39px;
    text-transform: capitalize;
    color: #717171;

    cursor: pointer;
}

.services-tabs li:hover {
    border: 1px solid #18CFAB;
}

.services-tabs li.active {
    background: #18CFAB;
    border: 1px solid #18CFAB;
    color: #FFFFFF;
}

.services-tabs li.active::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 100%;
    left: 45%;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #18CFAB transparent transparent transparent;
}

.services-tabs div {
    margin-top: 23px;
    display: none;
}

.services-tabs div.active {
    display: flex;
}

.services-tabs img {
    width: 192px;
    height: 139px;
}

.services-tabs p {
    margin-left: 15px;
    font-style: normal;
    font-weight: 300;
    font-size: 13.645px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #777777;
}

.purchase {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../images/backgrounds/section-2.jpg");
    background-position-y: -370px;
}

.purchase h2 {
    padding-top: 127px;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
}

.purchase p {
    margin-top: 12px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    color: #D8D8D8;
}

.purchase-btns {
    margin: 67px 0 127px;
    display: flex;
    justify-content: center;
}

.our-amazing-work {
    padding: 12px 0 99px;
    background: #E9EDEF;
}

.work-filters {
    margin-top: 97px;
}

.work-filters ul {
    display: flex;
    justify-content: center;
}

.work-filters li {
    padding: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #DADADA;
    box-sizing: content-box;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #717171;
    cursor: pointer;
}

.work-filters li:first-child {
    padding: 15px 27px;
}

.work-filters li:hover, li.active {
    border: 1px solid #18CFAB;
    color: #18CFAB;
}

.work-tiles {
    margin-top: 69px;
    display: flex;
    flex-wrap: wrap;
}

.work-tiles img {
    width: 285px;
    height: 211px;
}

.work-tile {
    position: relative;
    width: 285px;
    height: 211px;
}

.work-tile-info {
    display: none;
    position: absolute;

    width: 100%;
    height: 100%;
    border-top: 6px solid #18CFAB;

    color: #18CFAB;
}

.work-tiles .work-tile:hover .work-tile-info {
    display: flex;
    justify-content: center;
}

.work-tiles .work-tile:hover img {
    display: none;
}

.work-tile-info-icons {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 40px;
}

.work-tile-info-icons i:last-child {
    margin-left: 3px;
}

.work-tile-info-titles {
    margin-top: 24px;
    text-align: center;
}

.work-tile-info-titles p {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 25px;
    text-transform: uppercase;
}

.work-tile-info-titles span {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 25px;
    color: #8A8A8A;
}

.loader-holder {
    position: relative;
}

.loader {
    position: absolute;
    top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes arrows {
    0%,
    100% {
        color: black;
        transform: translateY(0);
    }
    50% {
        color: #3AB493;
        transform: translateY(20px);
    }
}

.loader span {
    --delay: 0s;
    animation: arrows 1s var(--delay) infinite ease-in;
}

.load-work-tiles {
    margin: 70px auto 0;
}

.load-more-btn {
    border: none;
    display: flex;
    justify-content: space-evenly;
}

.breaking-news {
    padding-bottom: 128px;
}

.breaking-news-tiles {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 35px;
    grid-row-gap: 40px;
}

.breaking-news-tile-image {
    position: relative;
    width: 263px;
    height: 208px;
}

.breaking-news-tile-image img {
    display: block;
    width: 263px;
    height: 208px;
}

.breaking-news-tile-date {
    width: 70px;
    height: 68px;
    position: absolute;
    justify-content: center;
    top: 0;
    right: 0;
    background: #203E38;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
}

.breaking-news-tile-title {
    margin-left: 15px;
}

.breaking-news-tile-title > a {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 39px;
    color: #717171;
    text-decoration: none;
}

.breaking-news-tile-info {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #777777;
}

.breaking-news-tile-info a {
    color: #777777;
    text-decoration: none;
}

.breaking-news-tile:hover .breaking-news-tile-date{
    background: #18CFAB;
}

.breaking-news-tile:hover .breaking-news-tile-title > a {
    color: #18CFAB;
}

.reviews {
    padding-bottom: 104px;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/backgrounds/section-3.jpg");
    background-position-y: -140px;
}

.reviews h4 {
    color: #FFFFFF;
}

.reviews h4 span {
    text-transform: none;
}

.reviews-quote {
    margin-top: 99px;
    color: #18CFAB;
    font-size: 47px;
}

.reviews-review {
    margin-top: 36px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #BBBBBB;
}

.reviews-author {
    margin-top: 37px;
}

.reviews-author p {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
    text-transform: uppercase;
    color: #18cfab;
}

.reviews-author span {
    margin-top: 5px;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    text-align: center;
    color: #BBBBBB;
}

.reviews-author-portrait img {
    margin-top: 50px;
    width: 143px;
    height: 143px;
    border: 10px solid rgba(24, 207, 171, 0.2);
    border-radius: 150px;
}

.reviews-slider {
    margin-top: 57px;
    width: 490px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reviews-slider img {
    border: 3px solid rgba(24, 207, 171, 0.2);
    border-radius: 150px;
    cursor: pointer;
    position: relative;
    bottom: 0;
    transition: bottom 0.5s linear;
}

.reviews-slider img.active {
    bottom: 10px;
}

.slider-action {
    width: 31px;
    height: 31px;
    color: #BBBBBB;
    border: 1px solid #BBBBBB;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.slider-action:hover {
    background: #18CFAB;
    color: #FFFFFF;
}

.gallery {
    padding-bottom: 75px;
}

.gallery-grid {
    margin: 115px auto 0;
    /*display: grid;*/
}

.gallery-grid-item {
    float: left;
    margin-bottom: 10px;
}

.gallery-grid-item img {
    width: 378px;
}

.load-gallery-images {
    margin: 56px auto 0;
}

footer {
    padding: 48px;
    text-align: center;
    background: #22353F;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #AEAEAE;
}