.container {
    width: 1366px;
    margin: 0 auto;
    background-image: url("../images/background.png");

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}

.container a {
    color: #FFFFFF;
    text-decoration: none;
}

.header {
    padding-top: 51px;
    overflow: hidden;
}

.logo {
    float: left;
    margin-left: 165px;
}

.logo-link {
    display: block;
    overflow: hidden;
}

.image {
    float: left;
}

.original-logo {
    float: left;
    width: 53px;
    height: 47px;
    background-image: url("../images/logo/logo.png");
}

.logo:hover .logo-upper-header,
.logo:hover .logo-lower-header,
.email:hover a,
.phone:hover a,
.banner-header:hover a {
    color: #F26522;
}

.logo:hover .original-logo {
    background-image: url("../images/logo/logo-hover.png");
}

.logo-header {
    float: left;
    margin-left: 8px;
}

.logo-upper-header {
    font-weight: bold;
    font-size: 29px;
    line-height: 29px;
    text-transform: uppercase;
}

.logo-lower-header {
    font-weight: bold;
    text-transform: uppercase;
}

.contacts {
    float: right;
    margin-right: 175px;
}

.phone {
    margin-top: 19px;
    text-align: right;
}

.main {
    margin: 17px 0 0 165px;
    overflow: hidden;
}

.banner {
    margin: 0 51px 37px 0;
    float: left;
}

.banner-image {
    border-width: 2px;
    border-style: solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to bottom, blue, yellow);
    position: relative;
    overflow: hidden;
}

.banner-image:hover .banner-image-details {
    visibility: visible;
    opacity: 1;
    height: 55px;
}

.banner-image img {
    display: block;
}

.banner-image-details {
    height: 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #F26522;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, height 1s, opacity 1s;
}

.banner-image-details-block {
    float: left;
    height: 55px;
    width: 50%;
    box-sizing: border-box;
}

.banner-image-details-from {
    display: block;
    padding: 7px 0 0 16px;
    font-size: 10px;
    line-height: 10px;
}

.banner-image-details-price {
    display: block;
    padding: 8px 0 0 16px;
    font-size: 20px;
    line-height: 20px;
}

.banner-image-details-view-details {
    display: block;
    padding: 29px 0 0 28px;
    font-size: 14px;
    line-height: 14px;
}

.banner-image-details-view-details::after {
    margin-left: 16px;
    font-family: "Font Awesome 5 Free", sans-serif;
    font-weight: 900;
    content: "\f105";
}

.banner-header {
    margin: 20px 0 5px;
    text-align: center;
}

.footer {
    padding: 2px 0 15px;
    text-align: center;
}

.footer > span {
    font-size: 12px;
    line-height: 12px;
}