.toolbar {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 0 auto;

  a {
    text-decoration: none;
    background-color: #00CBF6;
    color: floralwhite;
    font-size: larger;
    padding: 5px 20px;

    &.active {
      background-color: palevioletred;
    }
  }
}