.product-tile {
  width: 200px;
  text-align: center;
  border: 1px dashed black;
  display: flex;
  flex-direction: column;

  &-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(white, lightgray);
  }

  &-info {
    border-top: 1px dashed firebrick;
    padding: 5px;
  }

  &-img-container {
    width: 100%;
    height: 150px;
    padding: 5px;
    box-sizing: border-box;
  }

  &-img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
  }

  &-id {
    text-align: right;
    font-family: 'Roboto', serif;
    font-size: 0.6rem;
    padding: 5px;
    color: darkgray;
  }

  &-name {
    font-family: 'Roboto', serif;
    font-size: 0.75rem;
    color: slategrey;
  }

  &-price {
    margin-top: 5px;
    font-family: 'Roboto', serif;
    font-size: 0.7rem;
    color: lightslategrey;
  }

  &-actions {
    display: flex;
    justify-content: space-between;
    padding: 10px;

    & .btn {
      color: brown;

      &:first-child {
        color: whitesmoke;
      }
    }
  }
}