@use "../variables";
@use "../mixins";

.insta {
  @include mixins.section-title;
  background-color: transparent;
  padding: 38px 0 42px;
  box-sizing: border-box;

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__link {
    @include mixins.font(bold, 13px);
    text-transform: uppercase;
    text-decoration: none;
    line-height: 22px;
    display: none;
    &::after {
      content: " -";
    }
  }

  &__block {
    margin-top: 13px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
  }

  @include mixins.block-size(301px);
}

@media screen and (min-width: variables.$tablet-breakpoint) {
  .insta {
    background-color: #F7F7F7;

    &__title {
      font-size: 16px;
    }

    &__link {
      display: initial;
    }

    @include mixins.block-size(250px)
  }
}

@media screen and (min-width: variables.$desktop-breakpoint) {
  .insta {
    background-color: #F7F7F7;

    @include mixins.block-size(285px)
  }
}