@use "../mixins";
@use "../variables";

.posts {
  width: 100%;
  padding: 38px 0;

  @include mixins.section-title;

  &__post {
    margin-top: 25px;

    &:nth-child(n+4) {
      display: none;
    }
  }
}

@media screen and (min-width: variables.$tablet-breakpoint) {
  .posts {

    padding: 56px 0 60px;

    &__post {
      margin-top: 32px;

      &:nth-child(n+4) {
        display: flex;
      }

      &:first-child {
        margin-top: 24px;
      }
    }
  }

}

@media screen and (min-width: variables.$desktop-breakpoint) {
  .posts {

    padding: 66px 0 69px;

    &__container {
      display: grid;
      grid-template-rows: repeat(2, auto);
      grid-auto-flow: column;
    }

    &__post {
      margin-top: 32px;

      &:nth-child(n+4) {
        display: flex;
      }

      &:first-child {
        margin-top: 24px;
      }
    }
  }

}


