@use "../colors";
@use "../mixins";
@use "../variables";

.post {
  width: 100%;

  &__title {
    @include mixins.font(bold, 14px);
    //margin-top: 18px;
    line-height: 30px;
  }

  &__info {
    //margin-top: 12px;
    @include mixins.font(normal, 11px, #7C7C7C);
    line-height: 20px;
  }

  &__comments {
    text-decoration: none;
    color: inherit;
  }

  &__description {
    display: none;
    margin-top: 10px;
    @include mixins.font(normal, 14px, #5C5C5C);
    line-height: 26px;
    width: 70%;
  }
}

@media screen and (min-width: variables.$tablet-breakpoint) {
  .post {
    display: flex;

    &__wrapper {
      margin-left: 20px;
    }

    &__title {
      font-size: 16px;
    }

    &__info {
      font-size: 12px;
    }

    &__description {
      display: block;
    }

  }
}

@media screen and (min-width: variables.$desktop-breakpoint) {
  .post {
    &__description {
      width: 100%;
    }
  }
}