@font-face {
    font-family: 'Arimo';
    src: url('../fonts/Arimo-Regular.eot');
    src: url('../fonts/Arimo-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Arimo-Regular.woff2') format('woff2'),
    url('../fonts/Arimo-Regular.woff') format('woff'),
    url('../fonts/Arimo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arimo';
    src: url('../fonts/Arimo-Bold.eot');
    src: url('../fonts/Arimo-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Arimo-Bold.woff2') format('woff2'),
    url('../fonts/Arimo-Bold.woff') format('woff'),
    url('../fonts/Arimo-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

.table1 {
    width: 1192px;
    margin: 0 auto;
    font-family: 'Arimo', monospace;
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    color: #484848;

    border-color: #3A4965;
    border-style: solid;
    border-top-width: 22px;
    border-left-width: 20px;
    border-right-width: 30px;
    border-bottom-width: 30px;
    table-layout: fixed;
}

/*head*/
.table1 th {
    font-weight: bold;
    width: 280px;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
    border-left: 1px solid #CACACA;
}

.table1 thead tr:first-child th {
    height: 73px;
    border: none;
    font-size: 24px;
    line-height: 28px;
}

.table1 thead tr:first-child th:nth-child(n+2) {
    color: #FFFFFF;
}

.table1 thead tr:first-child th:nth-child(3) {
    font-size: 30px;
    line-height: 28px;
}

.table1 thead tr:first-child th:first-child {
    font-size: 18px;
    line-height: 28px;
    vertical-align: bottom;
}

.table1 thead tr:last-child th:first-child {
    font-size: 30px;
    line-height: 28px;
    vertical-align: top;
}

.table1 thead tr:last-child th {
    height: 89px;
    box-sizing: border-box;
}

.background-green {
    background-color: #89C331;
}

.background-red {
    background-color: #F04A56;
}

.background-blue {
    background-color: #20807C;
}

.background-grey {
    background-color: #484848;
}

.table1 .price {
    display: inline-block;
    position: relative;
    font-size: 60px;
    line-height: 60px;
}

.table1 .cents {
    position: absolute;
    top: -7px;
    left: 100px;
    font-size: 24px;
    line-height: 24px;
}

.table1 .month {
    display: inline-block;
    padding-top: 16px;
    vertical-align: top;
    font-weight: normal;
}

/*body*/
.table1 td {
    height: 72px;
    text-align: center;
    vertical-align: middle;
    border-left: 1px solid #CACACA;
}

.fas, .far {
    font-size: 24px;
    line-height: 28px;
    color: #848484;
}

.table1 .fas, .table1 .far {
    margin-right: 5px;
}

.table1 td:first-child, th:first-child {
    width: 313px;
    border-left: none;
}

.table1 td:last-child, th:last-child {
    border-right: none;
}

.table1 tbody tr:nth-child(even) {
    background-color: #E3E3E3;
}

.table1 tbody tr:nth-child(odd) {
    background-color: #F2F2F2;
}

.table1 thead tr {
    background-color: #FAFAFA;
}

.table1 tfoot tr {
    height: 109px;
}

.table1 tfoot td:nth-child(even) {
    background-color: #EEEEEE;
}

.table1 tfoot td:nth-child(odd) {
    background-color: #FAFAFA;
}

.table1 tfoot td:first-child {
    background-color: #DDDDDD;
}

.table1 .button {
    padding: 20px 45px 18px;
    width: 195px;
    font-family: Arimo, monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;

    box-sizing: border-box;

    cursor: pointer;
    outline: none;

    position: relative;
}

.table1 .button::after {
    content: "";
    position: absolute;
    width: 195px;
    height: 9px;
    bottom: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 0 0 5px 5px;
    transition: height 2s;
}

.table1 .button:hover::after {
    height: 54px;
    border-radius: 5px;
}

/*=====*/

.table2 {
    width: 1197px;
    margin: 0 auto;
    font-family: 'Arimo', monospace;
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    color: #484848;

    border-color: #3A4965;
    border-style: solid;
    border-top-width: 28px;
    border-left-width: 27px;
    border-right-width: 30px;
    border-bottom-width: 21px;
    table-layout: fixed;
}

.table2 td {
    border-bottom: 1px solid #CACACA;
}

.table2 tr:first-child {
    border-bottom: 15px solid #3A4965;
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
}

.table2 th:nth-child(2n+2), .table2 td:nth-child(2n+2) {
    background-color: #E3E3E3;
}

.table2 th:nth-child(2n+3), .table2 td:nth-child(2n+3) {
    background-color: #F2F2F2;
}

.table2 th {
    width: 160px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
}

.table2 th:first-child {
    width: 201px;
}

.table2 h3 {
    font-size: 14px;
    line-height: 14px;
}

.table2 h2 {
    font-size: 20px;
    line-height: 28px;
}

.table2 .fas, .table2 .far {
    margin-bottom: 5px;
}

.table2 td {
    height: 165px;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    line-height: 24px;
}

.table2 td:first-child {
    border: none;
    font-weight: bold;
}

.table2 td:first-child {
    color: #FFFFFF;
}

.table2 .package-name {
    font-size: 24px;
    line-height: 28px;
}

.table2 .price-block {
    position: relative;
    margin-top: 4px;
}

.table2 .price {
    font-size: 36px;
    line-height: 28px;
}

.table2 .cents {
    font-size: 18px;
    line-height: 28px;
    position: relative;
    top: -15px;
    left: -7px;
}

.table2 .month {
    font-size: 14px;
    line-height: 28px;
    vertical-align: super;
}

.table2 .button {
    margin-top: 13px;
    padding: 8px 20px;
    width: 147px;
    font-family: Arimo, monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;

    box-sizing: border-box;

    cursor: pointer;
    outline: none;

    position: relative;
}

.table2 .button::after {
    content: "";
    position: absolute;
    width: 147px;
    height: 8px;
    bottom: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 0 0 5px 5px;
    transition: height 2s;
}

.table2 .button:hover::after {
    height: 45px;
    border-radius: 5px;
}